<p>
  Add Project hours for today:
</p>

<form novalidate [formGroup]="this.entryForm">

  <div class="input-group"
    [ngClass]="{
      'has-success': day.valid && (day.dirty || day.touched),
      'has-danger': day.invalid
    }">
    <span class="input-group-addon" id="basic-addon1">Day</span>
    <input class="form-control" type="number" formControlName="day">
  </div>

  <div class="input-group"
     [ngClass]="{
      'has-success': hours.valid && (hours.dirty || hours.touched),
      'has-danger': hours.invalid
    }">
    <span class="input-group-addon" id="basic-addon2">Hours</span>
    <input class="form-control" type="number" formControlName="hours">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">Project</span>
    <select class="form-control" formControlName="project">
      <option value="">Please select a project</option>
      <option *ngFor="let project of projects"
              [value]="project">
              {{ project }}
      </option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Add</button>

  <pre>{{entryForm.value | json}}</pre>
</form>


<!--
  <div class="row">
    <div class="col-xs-12">
      <div class="list-group-item clearfix" *ngFor="let entry of entries">
        <div>
            <label>Day:</label><input type="number" value="{{ entry.day }}">
            <label>Hours:</label><input type="number" value="{{ entry.hours }}">
            <label>Project:</label><input type="text" value="{{ entry.project }}">
            <button>Update Entry</button>
          </div>
        </div>
    </div>
  </div>

</form>
-->







